*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
    margin: 0;
    padding: 0;
}

a {
    display: block;
    text-decoration: none;
    color:black;
}

ol {
    list-style: none;
}

ul {
    list-style: none;
}