.every-button {
    width: 181px;
    height: 53px;
    background-color: $yellow-accent;
    border: 1px solid $yellow-accent;
    @include space-mono (bold, 15px, 25px, #fff);
    padding: 14px 39px;
    box-sizing: border-box;
}

.every-button:hover {
    display: block;
    width:181px;
    height: 53px;
    background-color:#fff;
    color: $yellow-accent;
    padding: 14px 39px;
    transition: 0.5s all;
}