.every-button {
    width: 185px;
    background-color: $yellow-accent;
    border: 3px solid $yellow-accent;
    @include space-mono (bold, 15px, 25px, #fff);
    padding: 14px 39px;
    box-sizing: border-box;
}

.every-button:hover {
    display: block;
    width: 185px;
    cursor: pointer;
    background-color: transparent;
    color: $yellow-accent;
    padding: 14px 39px;
    transition: 0.5s all;
}