.benefits {
    position: relative;
    overflow: hidden;
}

.benefits__container {
    margin-top: 200px;
}

.benefits__list {
    display: flex;
    flex-flow: column;
}

.benefits__content {
    width: 445px;
}

.benefits__item {
    margin-bottom: 160px;
}

.circle {
    display: block;
    width: 445px;
    height: 445px;
    background-color: #E5ECF4;
    border-radius: 50%;
    right: -314px;
    position: absolute;
}

.circle-left {
    display: block;
    width: 445px;
    height: 445px;
    background-color: #E5ECF4;
    border-radius: 50%;
    left: -314px;
    position: absolute;
}

.benefits-img {
    border-radius: 50%;

}

.benefits__item-use {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    &::after {
        display: inline-block;
        width: 734px;
        height: 150px;
        background-image: url(../img/vector-left.svg);
        content: '';
        position: absolute;
        right: 0;
        top: 499px;
    }
}

.benefits__item-city {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &::after {
        display: inline-block;
        width: 734px;
        height: 150px;
        background-image: url(../img/vector-right.svg);
        content: '';
        position: absolute;
        left: -348px;
        top: 805px;
    }
}

.benefits__item-payment {

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;


    &::after {
        display: inline-block;
        width: 734px;
        height: 150px;
        background-image: url(../img/vector-left.svg);
        content: '';
        position: absolute;
        right: -355px;
        bottom: 385px;
    }
}

.benefit__title {
    font-size: 48px;
    left: 48px;
    color: $black-accent;
    letter-spacing: -2.14286px;
    margin-bottom: 24px;
}

.benefits__description {
    @include lexen-deca-p;
    margin-bottom: 40px;
}

@media only screen and (max-width: $tablet) {
    .benefis {
        position: relative;
    }

    .benefits__container {
        width: 603px;
        margin-top: 145px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 15px;
    }

    .benefits__list {}

    .benefits__item {
        display: block;

        &::before {
            width: 445px;
            height: 445px;
            margin-left: 64px;
            margin-right: 64px;
            margin-bottom: 56px;
        }
    }

    .circle {
        position: absolute;
        top: 135px;
    }

    .circle-left {
        position: absolute;
        top: 1140px;
    }

    .last-circle {
        width: 445px;
        height: 445px;
        position: absolute;
        background-color: #E5ECF4;
        margin-bottom: 31px;
    }

    .benefits__content {
        width: 573px;
    }

    .benefit__title {
        letter-spacing: -2.14286px;
        text-align: center;
    }

    .benefits__description {
        text-align: center;
    }

    .benefits__button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .benefits__item-use::after {
        position: absolute;
        top:452px;

    }

    .benefits__item-city::after {
        position: absolute;
        top:1150px;
        left: -386px;
    }

    .benefits__item-payment::after {
        position: absolute;
        bottom:700px;
        right: -386px;
    }
    
}