.container {
    max-width: 1136px;
    margin: 0 auto;
    padding: 0 15px;
}

// bu yerga boshqa bloklardan container style larini yozish kerak bo'madi hammasi deyarli bir xil. Faqatgina medialarni ichidagi container stillar blockni ozida yozildi chunki _container.scss ga ham alohida media block file gaham alohida media ochish shart emas bo'lsa kerak deb o'yladim.
