.faqs__container {
    margin: 120px auto 160px auto;
}
.faqs__title {
    @include space-mono (bold, 48px, 48px, $black-accent);
    text-align: center;
    letter-spacing: -2.14286px;
    margin-bottom: 64px;
}

.faqs__work {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.faqs__safe {
    display: flex;
    justify-content: space-between;
}

.work__title,
.safe__title {
    letter-spacing: -1.78571px;
    @include space-mono (bold, 40px, 48px, $black-accent);
}

.faqs__work-item,
.faqs__safe-item {
    display: block;
    padding: 32px 0 32px 40px;
    background-color: #F2F5F9;
    width: 730px;
    margin-bottom: 16px;
    position: relative;

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        cursor: pointer;
        background-color: #FFF4DF;
    }
}


.faqs__button {
    @include space-mono (bold, 24px, 28px, $black-accent);
    display: block;
    text-align: left;
    background-color: transparent;
    border: none;
    position: relative;

    &::after {
        display: inline-block;
        width: 18.5px;
        height: 12px;
        background-image: url(../img/faqs-button.svg);
        content: '';
        position: absolute;
        top: 10px;
        left: 634px;
    }

    &:hover {
        cursor: pointer;
    }
}

.faqs__description {
    @include lexend-deca (normal, 15px, 25px, $black-accent);
    display: none;
    width: 650px;
    background-color: transparent;
}

.workActive--opened,
.safeActive--opened {
    display: block;
    margin-bottom: 24px;
    position: relative;

    &::after {
        transform: rotate(180deg);
        position: absolute;
        top: 10px;
        left: 634px;
    }
}

.workActive--opened~.faqs__description {
    display: block;
}



.safeActive--opened~.faqs__description {
    display: block;
}

@media only screen and (max-width: $tablet) {
    .faqs__container {
        width: 719px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 15px;
        margin-bottom: 120px;
    }

    .faqs__work,
    .faqs__safe {
        display: flex;
        flex-direction: column;
    }

    .work__title,
    .safe__title {
        text-align: center;
        letter-spacing: -1.78571px;
        margin-bottom: 32px;
    }

    .faqs__work-item,
    .faqs__safe-item {
        width: 689px;
        margin-bottom: 24px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .faqs__button {
        position: relative;

        &::after {
            position: absolute;
            left: 601px;
        }
    }

    .faqs__description {
        width: 617px;
    }
}

@media only screen and (max-width: $mobile) {
    .faqs__container {
        width: 341px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 15px;
        margin-top: 145px;
    }

    .faqs__title {
        font-size: 32px;
        line-height: 32px;
        letter-spacing: -1.42857px;
        margin-bottom: 48px;
    }

    .faqs__work-item,
    .faqs__safe-item {
        width: 311px;
        padding: 32px 0 32px 30px;
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .work__title,
    .safe__title {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -1.07143px;
    }

    .faqs__button {
        width: 219px;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.803571px;
        position: relative;

        &::after {
            left: 235px;
        }
    }

    .faqs__description {
        width: 251px;
    }

    .faqs__work {
        margin-bottom: 48px;
    }
}