.guide {
    margin-top: 160px;
    position: relative;
}

.guide__list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &::before {
        display: flex;
        z-index: -2;
        position: absolute;
        width: 67.63%;
        // 974px ni foizi 67%
        height: 1px;
        left: 0;
        top: 41px;
        border-bottom: 15px solid #E5ECF4;
        content: '';
    }
}

.guide__item {
    width: 350px;
    margin-right: auto;
    margin-top: 120px;
    position: relative;
}

.guide--app::before {
    display: inline-block;
    width: 96px;
    height: 96px;
    background-image: url(../img/app.svg);
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    background-color: $yellow-accent;
    position: absolute;
    top: -120px;
    left: 0;
    content: '';
}

.guide--scooter::before {
    display: inline-block;
    width: 96px;
    height: 96px;
    background-image: url(../img/scooter.svg);
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    background-color: $yellow-accent;
    position: absolute;
    top: -120px;;
    right: 59%;
    content: '';
}

.guide--ride::before {
    display: inline-block;
    width: 96px;
    height: 96px;
    background-image: url(../img/ride.svg);
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    position: absolute;
    top: -120px;
    background-color: $yellow-accent;
    content: '';
}

.guide__item::before {
    padding: 24px 32.80px 24px 29px;
}

.guide__title {
    color: #495567;
    font-size: 24px;
    left: 28px;
    margin-bottom: 27px;
    text-align-last: left;
    letter-spacing: -1.07143px;
}

.guide__description {
    @include lexen-deca-p;
    text-align-last: left;
}

@media only screen and (max-width: $tablet) {
    .guide__list::before {
        display: none;
    }

    .guide {
        position: relative;
    }

    .guide__container {
        margin-top: 122px;
        width: 573px;
        padding: 0 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .guide__list::before {
        display: flex;
        z-index: -2;
        position: absolute;
        height: 532px;
        width: 1px;
        left: calc(423px - (1136px / 100px));
        top: -160px;
        left:18%;
        border-left: 15px solid #E5ECF4;
        content: '';
    }



    .guide__list {
        display: block;
    }

    .guide__item {
        margin-left: 175px;
        position: relative;
    }

    .guide__item::before {
        display: inline-block;
        margin: 0 79px 0 0;
        width: 96px;
        height: 96px;
        padding: 24px 48px;
        position: absolute;
        left: -54%;
    }

    .guide__title {
        text-align: center;
    }

    .guide__description {
        width: 398px;
        margin-bottom: 40px;
    }

    .last-desc {
        margin-bottom: 0;
    }

}

@media only screen and (max-width: $mobile) {
    .guide__list::before {
        display: none;
    }

    .guide__container {
        width: 341px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 15px;
    }

    .guide__item {
        display: flex;
        flex-direction: column;

    }

    .guide__item::before {
        display: block;
        width: 96px;
        height: 96px;
        margin-left: 30%;
        margin-right: 30%;
        margin-bottom: 24px;
    }

    .guide__title {
        width: 311px;
        margin-left: 6%;
        margin-right: 6%;
    }

    // qayerdadir muammo bor shuni topa olmadim. shu narsa text-align ni ishlatishga xalaqit bervotti

    .guide__description {
        width: 311px;
        margin-left: auto;
        margin-right: auto;
    }
}