.header__container {
    display: flex;
    margin-top: 34px;
    margin-bottom: 33.44px;
    align-items: center;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: 58px;
    width: 107px;
    height: 28px;
}

.header__list {
    display: flex;
    margin-right: 511px;
}

.header__nav-item {
    margin-right: 32px;
}

.header__nav-item:last-child {
    margin: 0;
}

@media only screen and (max-width:$tablet) {
    .header__container {
        max-width: 719px;
        margin: 33px auto 33.44px auto;
        padding: 0 15px;
        display: flex;
    }

    .header__list {
        display: flex;
        margin-right: 94px;
    }

    .header__nav-item:last-child {
        margin: 0;
    }
}

.header__burger {
    display: none;
    border: none;
    background-color: #fff;
    width: 19px;
    height: 19px;
    border-radius: 6px;

    &::before,
    &::after,
    &-inner {
        width: 100%;
        height: 2px;
        background-color: #000;
        display: block;
        margin-bottom: 3px;
        transition: 0.2s ease all;
        border-radius: 5px;
        content: '';
    }

    &::after {
        margin-bottom: 0;
    }
}

.header__burger--opened {
    position: relative;

    & .header__burger-inner {
        display: none;
    }

    &::before,
    &::after {
        width: 16px;
        position: absolute;
        left: 50%;
        top: 50%;
    }

    &::after {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &::before {
        margin-bottom: 0;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

@media only screen and (max-width: $mobile) {

    .header__container {
        width: 375px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 15px;
    }

    .header__list {
        display: none;
    }

    .header__button {
        display: block;
        margin-top: 339px;
        width: 192px;
        margin-left: auto;
        margin-right: auto;
    }

    .header-logo-link {
        min-width: 75px;
        margin: 22px auto 22px 100px;
    }

    .header__logo {
        width: 75px;
        height: 20px;
    }

    .header__burger {
        display: block;
        margin-left: 32px;
        width:18px;
        height: 18px;
        border-radius:5px;
    }

    .header__nav {
        display: none;
        height: 675px;
        margin-right: auto;
        background: #2C2830;
        width: 70%;
        padding: 40px 24px;
        position: absolute;
        left: 0;
        top: 136px;
        flex-direction: column;
        align-items: stretch;
        // transform: translateX(100%);
        // transition: transform 8s;
    }

    .header__list {
        display: block;
        margin-right: 0;
        margin-bottom: 24px;
    }

    .header__nav-item {
        margin-right: 0;
    }

    .header__nav-link {
        display: block;
        font-size: 20px;
        line-height: 40px;
        letter-spacing: 1.36364px;
        color: #fff;
        text-align: center;
    }

    .header__nav--opened {
        display: flex;
        // transform: translateX(100%);
        animation: mymove 1.5s both;
        display: flex;
        z-index: 1;
        
    }

    @keyframes mymove  {
  from {left: -68%;}
  to {left: 0;}
}
}