.intro {
    background-image: url(../img/intro.jpg);
    background-color: #4E5D74;
    background-size: cover;
    height: 650px;

    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
        background-image: url(../img/intro@2x.jpg);
        /* Retina-specific stuff here */
    }
}

.intro__container {
    position: relative;
}

.intro__container::before {
    display: inline-block;
    width: 202px;
    height: 15px;
    background-image: url(../img/intro-start-line.svg);
    content: '';
    position: absolute;
    left: -164px;
    top: 353px;
}

.intro__container::after {
    display: inline-block;
    width: 446.38px;
    height: 138px;
    background-image: url(../img/intro-end-line.svg);
    content: '';
    position: absolute;
    right: 118px;
    top: 353px;
}

.intro__content {
    padding: 153px 0;
    max-width: 500px;
}

.intro__title {
    font-family:'Space Mono', monospace;
    font-weight: bold;
    padding: 0;
    margin: 0;
    letter-spacing: -2.5px;
    font-size: 56px;
    line-height: 56px;
    color: #FFF;
    margin-bottom: 40px;
}

.intro__description {
    @include lexen-deca (400, 15px, 25px, #fff);
    margin-bottom: 40px;
    margin-left: 95px;
}

.intro__button {
    margin-left: 95px;
}

@media only screen and (max-width: $tablet) {

    .intro__container::before,
    .intro__container::after {
        display: none;
    }

    .intro__container {
        background-image: url(../img/intro-tablet.jpg);
        background-color: #4E5D74;
        height: calc(100vh - 650px);
        background-size: cover;
        position: relative;

        @media only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min--moz-device-pixel-ratio: 2),
        only screen and (-o-min-device-pixel-ratio: 2/1),
        only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 192dpi),
        only screen and (min-resolution: 2dppx) {
            background-image: url(../img/intro-tablet@2x.jpg);
            /* Retina-specific stuff here */


        }

        .intro__content {
            width: 573px;
            margin: 0 auto;
        }

        .intro__title {
            text-align: center;
        }

        .intro__description {
            margin: 0 auto;
            text-align: center;
            margin-bottom: 32px;
        }

        .intro__button {
            width: 181px;
            margin: 0 auto;
        }
    }

    .intro__container::after {
        display: inline-block;
        width: 446.38px;
        height: 138px;
        background-image: url(../img/intro-end-line.svg);
        content: '';
        position: absolute;
        left: -105px;
        top: 483px;
    }
}

@media only screen and (max-width: $mobile) {

    .intro__container::after,
    .intro__container::before {
        display: none !important;
    }

    .intro {
        width: 100%;
        background-image: url(../img/intro-mobile.jpg);
        background-color: #4E5D74;
        background-size: cover;
        height: 680px;
        position: relative;

        @media only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min--moz-device-pixel-ratio: 2),
        only screen and (-o-min-device-pixel-ratio: 2/1),
        only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 192dpi),
        only screen and (min-resolution: 2dppx) {
            background-image: url(../img/intro-mobile@2x.jpg);
            background-size: cover;
            height: 680px;
        }



        .intro__content {
            width: 311px;
            margin: 0 auto;
        }

        .intro__title {
            font-size: 40px;
            line-height: 40px;
            /* or 100% */

            text-align: center;
            letter-spacing: -1.78571px;
        }

        .intro__description {
            font-size: 15px;
            line-height: 25px;
            text-align: center;
        }

        .intro__button {
            width: 181px;
            margin: 0 auto;
        }
    }

    .intro__container::before {
        display: block !important;
        width: 446px;
        height: 138px;
        background-image: url(../img/intro-end-line.svg);
        content: '';
        position: absolute;
        left: -312px;
        top: 513px;
    }
}